<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <title>K-Anonymize Analysis</title>
    </head>
<body>
    <form action="/home" method="get">
        <button type="submit" style="float: right; margin-left: 10px" class="createnewbtn">Back to Home</button>
    </form>
    <h1>Normalised Certainity Penalty (Information Loss) </h1>
    <img src="../static/ncp_output.jpg" alt="ncp_output.jpg">
    <h1>Re-Identification Risk</h1>
    <img src="../static/dp_output.jpg" alt="dp_output.jpg">

</body>
</html>